body{background-color: #16a085;}
.bg-blue{
 background-color:  #3498db;

}

h1{
  font-size: 25px;
  margin-left: 15px;
}
ul{
	text-align: center;
}
li {
	padding-left: 10px;
	padding-right: 10px;
}

li a{
	color: black;
}

li a:hover{
	text-decoration: none;
	color:#ecf0f1;
}

.center{
  text-align: center;
}

#nav-list li a{
	font-size: 18px;
}
.jumbo{
  width: 80%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

#item{
  width:80%;
  height: 350px;
  border-radius: 5px;
  margin-right: 10%;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: 10%;
}
#mybutton{
  background-color:#3498db ;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}
#mybutton > a{
  color:black;
}
#mybutton > a:hover{
  text-decoration: none;
  color:white;
}
.wrapper{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}


#nav-list {
  margin-top: 10px;
  float: right;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  color:white;
}
#nav-list a span {
  font-size: 1.8em;
}
/*************FOOTER**********/
footer{
  background-color: #b8bec6;
  margin-bottom: 15px;
  border-radius: 5px;
}

footer ul {
  list-style-type: none;
  }

#adress{
  width: 90%;
  font-size: 15px;
  padding-bottom: 15px;
}

#adress p{
  padding-left: 30px;
}
.push-aside{
  margin-left: 30px;
}
.push-down{
  padding-top: 10px;
}
#phone-no a, #fax{
  color: black;
  font-size: 24px;
}
#phone-no a:hover{
text-decoration: none;
}

#email a{
  color: #e74c3c;
}

#email a:hover{
  text-decoration: none;
}

#to-top{
float:right;
background-color: black;
width: 60px;
}
.icon-sizing{
  margin-bottom: 15px;
  margin-right: 15px;
}
@media(min-width:991px){
  #mybutton{
    display: none;
  }
}

@media (max-width : 992px){
  #image{
    display: none;
  }
  footer #contacts p{
    text-align: center;
  }
}
@media (max-width: 576px){
  footer #adress p{
    text-align: center;
  }
}
@media (max-width: 767px){
    .navbar-nav {
    width: 100%;
    text-align: center;
  }

   /*   homepage*/
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .5;
}

}
/***** media size devices******/
@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  /*   homepage*/
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .5;
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}
